name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  java:
    name: Java/Gradle
    runs-on: ubuntu-22.04
    strategy:
      max-parallel: 4
      matrix:
        java-version: [11, 17, 18]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --rerun-tasks assemble ${{ env.ADDITIONAL_GRADLE_OPTS }} check publishToMavenLocal --scan

      - name: Capture test results
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-results
          path: |
            **/build/reports/*
            **/build/test-results/*
